[2016-02-23 23:28] tianon opened #10 "Linting of stdin?"
Would it be acceptable to allow for linting stdin somehow? (so this could lint the output of some other tool more easily)

The workarounds I tried failed in pretty amusing ways:
[code]

[2016-02-26 01:06] marccampbell commented on #10
That's a great idea.  I can't think of a different way to try it, sounds like we need to get a PR with that change.

[2016-02-26 01:20] tianon commented on #10
I admit I'm not terribly familiar with Node, but wouldn't removing the `if (!stats.isFile()) {` block entirely at least make `/dev/stdin` and the Bash redirection work properly?  Does `fs.readFileSync` throw a useful error if you run it on a directory (or something similarly non-readable as a file)?

[2016-02-26 01:20] tianon commented on #10
(https://github.com/replicatedhq/dockerfilelint/blob/0ed446d2601b6e3f506006244899b30b61cbb602/bin/dockerfilelint#L17-L22 to be precise)

[2016-03-03 14:17] marccampbell commented on #10
PR submitted at https://github.com/replicatedhq/dockerfilelint/pull/11

[2016-03-03 16:19] #10 closed

[2016-03-04 00:56] bueller opened #14 "if eol \ missing && before suggest that it might be missing"

[2016-03-12 23:16] sverhagen opened #15 "Unexpected token ILLEGAL"
I think I'm following the instructions, but I'm getting the following error:

	$ ./bin/dockerfilelint ../docker/Dockerfile
	E:\dockerfilelint\lib\reference.js:4
	    'description': `All commands in a Dockerfile require at least 1 argument.
	                   ^
	SyntaxError: Unexpected token ILLEGAL
	    at exports.runInThisContext (vm.js:73:16)
	    at Module._compile (module.js:443:25)
	    at O

[2016-03-29 23:28] marccampbell commented on #15
@sverhagen it's now possible to run this in a Docker container with:

[code]

Will this work for your needs?

[2016-03-29 23:33] tianon commented on #15
You can also use the `stdin` support added in #12! :smile:

[code]

[2016-03-30 05:33] sverhagen commented on #15
The root cause of this issue was having a wrong version of Node, due to what the distro in question had to offer. This has been mitigated by using a Docker image! :+1:

[2016-03-30 05:33] #15 closed

[2016-03-30 05:37] sverhagen opened #17 "Make available as Docker image"
Make `dockerfilelint` available as public Docker image!

[2016-03-30 05:42] sverhagen opened #18 "Skip checks"
Is it possible to skip selected "rules"? We have a few rules that we find acceptable, despite not being a best practice and it would be nice to silence those.

[2016-04-02 16:55] marccampbell commented on #17
It's published at https://hub.docker.com/r/replicated/dockerfilelint/

[2016-04-02 16:55] #17 closed

[2016-04-02 16:56] marccampbell commented on #18
We could design a configuration file format (maybe just a simple dot file) to use for configuration.

[2016-04-03 05:22] sverhagen commented on #17
My bad, thank you!

[2016-04-03 05:27] sverhagen commented on #18
We could, but it would not lend itself perfectly for where `dockerfilelint` is used from its Docker image. I would more prefer a command line switch. Looking at the `checks.js` it seems that there's good labels to key off of: `expose_container_port_only`, `expose_port_valid`, `label_format`, etc. So, that could be something like `--ignore=expose_container_port_only,expose_port_valid`. There could

[2016-04-03 05:36] sverhagen commented on #17
12 minutes later, mulled it over at bit... would you agree that `latest` is not a highly useful tag? I embed `dockerfilelint` in my build process, and now different developers could end up with a different version of it on their machine, depending on when they first ran it, relative to when new (`latest`) releases of `dockerfilelint` were pushed.

[2016-04-27 22:42] marccampbell commented on #18
This is now supported by creating a .dockerfilelintrc` file in the directory where the Dockerfile is, or in the workdir if running it using stdin.

[2016-04-27 22:42] #18 closed

[2016-04-27 23:24] marccampbell commented on #14
This isn't (generally) a linting issue.  It's more often an invalid Dockerfile.  Closing.

[2016-04-27 23:24] #14 closed

[2016-05-11 22:01] lumberj opened #22 "Invalid certs on website"
Hosted version of this has invalid certs.

<img width="488" alt="screen shot 2016-05-11 at 2 39 35 pm" src="https://cloud.githubusercontent.com/assets/1812196/15197955/42f83188-1789-11e6-83cf-4aa87eacb032.png">

[2016-05-13 15:04] marccampbell commented on #22
Thanks @lumberj.  Looks like our letsencrypt auto renewal didn't work.  Updated this and re-deployed the hosted version.  Cert looks valid now.

[2016-05-13 15:04] #22 closed

[2016-06-09 00:10] dsifford opened #26 "Site not working on Chrome Canary"
I'm not able to trigger any warnings and the following errors are logged to the console.

![image](https://cloud.githubusercontent.com/assets/5240018/15915178/0bedffdc-2db5-11e6-9e9e-447e5b90a7d6.png)

[2016-06-18 18:16] marccampbell commented on #26
This was fixed by with dockerfilelint https://github.com/replicatedhq/dockerfilelint/pull/24 by @nexdrew.  Deployed to fromlatest.io and confirmed.

[2016-06-18 18:16] #26 closed

[2016-06-21 17:31] sverhagen opened #27 "Label Is Invalid when spaces in label"
When the label value contains spaces, the "Label Is Invalid" check breaks down:

    File:   <stdin>
    Issues: 1
    Line 41: LABEL build_user_on_behalf_of="Sander\ Verhagen"
    Issue  Category      Title                 Description
        1  Possible Bug  Label Is Invalid      Using LABEL should be in key=value format.

[2016-06-22 19:51] marccampbell opened #28 "Add support for HEALTHCHECK command"
Introduced in docker-engine 1.12.  Documentation at https://docs.docker.com/engine/reference/builder/#healthcheck

[2016-06-22 19:51] marccampbell opened #29 "Add support for SHELL command"
The SHELL command was added in docker-engine 1.12 and documentation is at https://docs.docker.com/engine/reference/builder/#shell

[2016-07-12 16:14] DJviolin opened #31 "Line 14 apt-get update without matching apt-get install"
I've got this error message:

For the following command:

[code]

[2016-08-12 09:20] MrTrustor opened #45 "Image on Docker Hub not up to date"
Hello,

The Docker image for this project on the Docker Hub (https://hub.docker.com/r/replicated/dockerfilelint/) is not up to date. In particular, it is missing the ``.dockerfilelintrc`` feature.

Thank you, this is a very cool tool :-)

[2016-09-12 22:29] emosbaugh commented on #45
This is resolved in pull requests:
https://github.com/replicatedhq/dockerfilelint/pull/49
https://github.com/replicatedhq/dockerfilelint/pull/50
https://github.com/replicatedhq/dockerfilelint/pull/51

[2016-09-12 22:29] #45 closed

[2016-09-13 16:55] #27 closed

[2016-09-13 23:22] #31 closed

[2017-02-01 03:39] sameetn opened #70 "Deprecate MAINTAINER command"
As of docker 1.13, the MAINTAINER instruction is deprecated.

[2017-02-02 15:54] #70 closed

[2017-04-13 18:24] wkusnierczyk opened #71 "MAINTAINER deprecated"
The `MAINTAINER` instruction is deprecated:

* https://docs.docker.com/engine/reference/builder/#/maintainer-deprecated

Consider implementing a warning with suggestion to replace with `LABEL maintainer`.

[2017-06-29 09:47] jaydp17 opened #74 "Support Multi Stage Builds"
Shows error when using [multi-stage builds](https://docs.docker.com/engine/userguide/eng-image/multistage-build/).

The line with second `FROM` shows error.

<img width="844" alt="screen shot 2017-06-29 at 3 15 45 pm" src="https://user-images.githubusercontent.com/1743425/27681822-0ebfa7a2-5cde-11e7-8c3f-b53dab321eb1.png">

[2017-06-29 20:24] jadametz commented on #71
Looks like this was solved in #69

[2017-06-29 20:27] jadametz opened #75 "Option for JSON output"
I would love to use this project in our Jenkins build pipeline. Having the ability to output JSON would be extremely useful!

[2017-07-03 17:27] #75 closed

[2017-07-09 09:07] martinlobe opened #77 "apt-get --no-install-recommends"
The --no-install-recommends is not found in case something like this is used:
`apt-get -y install perl --no-install-recommends`

[2017-07-09 09:44] martinlobe opened #78 "EXPOSE ports not analysed correctly"
In the docker expose instruction one can define what protocol too.

e.g.
`EXPOSE 80/tcp 3000/udp`

This is currently detected as a non valid port. Definition of the protocol is allowed.

This is maybe fixed by that:
[code]

This also checks for a valid port in range, since currently 99999999 is also detected as a valid port.

[2017-08-02 16:05] alexellis commented on #74
Also came here for the same reason. Great tool btw.. very cool.

[2017-08-04 22:01] Vad1mo opened #79 "False Positive --virtual"
[code]

It says I should use  `--virtual`however  I do use it but in the second apk statement the first one is fine as is.

[2017-08-07 16:32] thomasbiddle commented on #71
@jadametz

Confirmed - just ran whatever the latest is:
[code]

This can be closed.

[2017-08-07 17:16] thomasbiddle commented on #78
Along with this - it would be great to allow a variable to be referenced. I follow the practice of

[code]

[code]

[2017-08-09 19:41] TheYorkshireDev commented on #74
Ditto, any timescales for this guys?

[2017-08-14 20:22] TheYorkshireDev opened #80 "Add version command line option"
Most users expect there to be a version cli option for most apps. Dockerfilelint does not have a version cli option so I propose we add one.

I could simply just read the version declared in the `package.json` file.

[2017-08-15 19:09] cdhunt opened #82 "Add support for custom escape characters"
This should not throw warnings around the LABEL (line4 and 5)

[code]

Use of the backtick is common in Windows dockerfiles because it aligns with the PowerShell line continuation character.

https://docs.docker.com/engine/reference/builder/#escape

[2017-08-24 08:46] devunt opened #83 "Suggest merging multiple env directives into one"
As [documentation](https://docs.docker.com/engine/reference/builder/#env) describes, using merged form of ENV directives is preferred over the single form since it will yield smaller intermediate images and containers.

Hence suggesting changing
[code]
to
[code]
seems reasonable.

[2017-09-01 16:14] nexdrew commented on #71
Thanks everyone! Not sure why this was left open, closing now.

[2017-09-01 16:14] #71 closed

[2017-09-01 16:16] nexdrew commented on #74
Apologies for the radio silence! I plan to look into this soon-ish.

[2017-09-01 18:01] nexdrew commented on #74
@jaydp17 @alexellis @TheYorkshireDev Opened a PR that allows for more than one `FROM` command, interpreting each as the beginning of a new stage. The PR essentially just makes the linting a little more lenient - I didn't attempt to add any new multi-stage specific checks.

I would love your opinions on if you think this is the right approach or if you have ideas for additional checks that should b

[2017-09-05 22:28] marccampbell commented on #78
@thomasbiddle Agreed. Will you open a new issue for the `ENV PORT; EXPOSE $PORT` pattern? I think we should add this in, but we should also do it correctly and ensure that the env var is set and still a valid value (when possible).

[2017-09-12 20:59] thomasbiddle commented on #28
Would love to see this; currently is being throw as a warning "Invalid Command" in most of my Dockerfiles. This is what's keeping me from implementing it into my CI.

[2017-09-12 21:05] thomasbiddle opened #86 "Add support for ENV $VAR; EXPOSE $VAR pattern"
This pattern allows us to define a variable and then re-use it in multiple areas in order to keep our Dockerfile DRY. Under the current implementation; `dockerfilelint` will state "Invalid Port Exposed"

Somewhat related to #78.

[2017-09-12 21:06] thomasbiddle commented on #78
@marccampbell Referenced in #86.

[2017-09-12 21:42] #80 closed

[2017-09-13 00:56] #74 closed

[2017-09-13 01:08] nexdrew commented on #74
Didn't hear back from anyone for over a week, so went ahead and merged #84, which has been published to npm as version 1.4.0. Give it a shot and let me know if it does the trick. Thanks!

[2017-09-15 11:37] rcjsuen opened #88 "License of dockerfilelint unclear"
According to the package.json file, the project appears to be under the MIT license.

https://github.com/replicatedhq/dockerfilelint/blob/ad65813edd32e193a5f4534c1082a9b3c7d33ae5/package.json#L24

I'm not sure if this is accurate or just a copy/paste thing. I think a license file should be added to the root of the Git repository to disambiguate the licensing terms and use of this project and its s

[2017-09-15 14:20] nexdrew commented on #88
Good point. I'll create a PR to add a license file.

[2017-10-09 15:10] Oxalide-Team-2 opened #90 "ARG is the only instruction that may precede FROM in the Dockerfile"
According to the dockerfile reference documentation:

[ARG is the only instruction that may precede FROM in the Dockerfile](https://docs.docker.com/engine/reference/builder/#understand-how-arg-and-from-interact)

With this dockerfile
[code]

I got this error triggered:
https://github.com/replicatedhq/dockerfilelint/blob/9b8780c0bfd91acae9d44e31cde019ebe7f4adaf/lib/reference.js#L31

Regards

[2017-10-11 13:33] thomasbiddle commented on #86
As a simple example:

[code]

[2017-10-17 20:44] mtheoryx commented on #77
Just adding info:

Clearly replicated on https://www.fromlatest.io/#/ with the following:

[code]

[2017-10-29 15:57] sky-code opened #91 "Glob pattern or directory as source"
Add a feature to specify a glob pattern instead of single file as input or directory with recursive search for `Dockerfile`s.
I have a project with many dockerfiles in special directory and want to scan them all, ideally with glob pattern I will do something like this
[code]
or specify a directory like this for search all Dockerfiles inside
[code]

[2017-10-31 13:56] EvgenyOrekhov opened #92 "Add the ability to pass a config object instead of configPath to dockerfilelint.run()"
I am trying to use Dockerfilelint programmatically.
`dockerfilelint.run()` rereads a config using `fs.lstatSync()` and `fs.readFileSync()` on every call.
It would be more performant (and in my case more convenient) to be able to pass a config object instead of `configPath` to `dockerfilelint.run()`:

[code]

[2017-11-07 12:33] thedrow opened #93 "Linter does not support multiple stages"
I'm getting `Line 8: First Command Must Be FROM (Possible Bug)` which is not a problem anymore.

[2017-11-07 21:32] nexdrew commented on #93
@thedrow This should have been fixed in version 1.4.0. See issue #74 and PR #84.

Would you mind confirming which version of dockerfilelint you are using? `dockerfilelint --version`

[2017-11-08 07:49] thedrow commented on #93
I was using the one one the website.

[2017-11-11 20:33] prog1dev opened #94 "Should linter raise error if no file found?"
Well now if I give linter filename which does not exist it just gives me normal output with 4 issues.

Command: `dockerfilelint NotExistingDockerfile`
Output:
[code]

[2017-11-17 09:03] darkk opened #95 "pip should be paired with pip cache cleanup"
That's one more heuristics to reduce image size, `pip` usually places lots of temporary files to `/root/.cache` while installing packages.

[2017-11-19 15:14] prog1dev opened #96 "Integration with existing tools"
## Editors + CLI tools
* [x] Sublime Text (https://github.com/prog1dev/SublimeLinter-contrib-dockerfilelint)
* [ ] Atom
* [ ] VS Code
* [ ] Vim
* [ ] Emacs
* [ ] JetBrains

I think it would be nice to have an issue like that

[2017-12-03 17:42] TheYorkshireDev commented on #93
@nexdrew I am seeing the same behaviour as @thedrow

Linting the following Dockerfile on [https://www.fromlatest.io](https://www.fromlatest.io/#/) gives the error **Line 12: First Command Must Be FROM (Possible Bug)**

[code]

Has the website been updated to 1.4.0?

[2017-12-03 17:58] TheYorkshireDev commented on #94
@prog1dev I have just come across this issue too and its confusing. Really there should be a more accurate error message about the file not been found.

[2017-12-04 15:15] nexdrew commented on #93
@TheYorkshireDev @thedrow Sorry for not replying earlier - I have created an issue on the fromlatest.io repo here: https://github.com/replicatedhq/fromlatest.io/issues/242

The site is managed by the Replicated team, so beyond reporting the issue and creating a PR, there's not much else I can do at the moment.

I'm closing this just to lighten the burden on the Replicated team, but thanks for repo

[2017-12-04 15:15] #93 closed

[2017-12-04 15:45] nexdrew commented on #94
This is because `dockerfilelint` is interpreting the non-existent-file argument (`NotExistingDockerfile` in the example above) as the "contents to lint" (i.e. as if the argument is a string containing contents from a Dockerfile). It will do this for each argument that it cannot find on the file system.

Perhaps it shouldn't do this (or shouldn't do this by default)? Would it be better/less confusi

[2017-12-04 15:51] nexdrew commented on #91
Note that the CLI _does_ support multiple files as different arguments, so using a glob would work if we can get the shell to do the glob expansion for us.

Otherwise, this is a good suggestion.

[2017-12-04 15:55] nexdrew commented on #83
Agreed, thanks for the suggestion!

[2017-12-04 16:01] nexdrew commented on #78
Closing this as it should be fixed in version 1.3.0+. Please let us know if you still have problems with "port/proto" syntax.

(Also note that fromlatest.io isn't currently running the latest version of `dockerfilelint`, see replicatedhq/fromlatest.io#242.)

[2017-12-04 16:01] #78 closed

[2017-12-04 16:02] nexdrew commented on #90
Confirmed, `dockerfilelint` should account for this. Thanks for reporting!

[2018-01-08 18:09] TheYorkshireDev opened #98 "Should base image tag be linted for `latest`"
Hi,

I was experimenting with linting some dockerfiles and noticed for multi-stage builds the base image we use generally as a builder, does not get linted for the `:latest` tag. Is this intentional?

For Example:
[code]

The second `FROM` gets the warning, but the first does not.

Thanks

[2018-01-19 21:31] rcjsuen opened #99 "Extra USER arguments are not ignored even though dockerfilelint claims they are"
[code]
[code]
[code]

[2018-03-07 14:33] prasenjithaty commented on #98
I guess the issue is that the linter does not support Docker multi-stage builds yet introduced in Docker 17.05 and errors out with:
[code]

[2018-04-11 15:03] AuthorProxy opened #100 "Warning at multistage build"
Gives next warnings dockerfilelint:
    15:1    warning dockerfilelint: Clarity      Base images should specify a tag to use.
    21:1    warning dockerfilelint: Clarity      Base images should specify a tag to use.
    26:1    warning dockerfilelint: Clarity      Base images should specify a tag to use.

Where should I put this tag?

[code]

[2018-04-11 21:35] VonUniGE opened #101 "Add more detailed explanations on the reasons why sudo should be avoided"
If sudo is included in a command, dockerfilelint outputs the following message:

This message should give more detailed explanations (or a link) on the reasons why sudo should be avoided.

There is also a question about this on unix.stackexchange.com : [What exactly in the sudo behavior is unpredictable?](https://unix.stackexchange.com/questions/436949/what-exactly-in-the-sudo-behavior-is-unpredic

[2018-04-11 21:58] SISheogorath commented on #101
This is actually a quote from the official docker best practices:

https://docs.docker.com/develop/develop-images/dockerfile_best-practices/#user

To see the official reasoning in all detail I recommend to have a look at the `gosu` repository:
https://github.com/tianon/gosu#gosu

[2018-04-12 07:26] VonUniGE commented on #101
Ok, the source of the message is the official Docker documentation. But, I cannot find in the gosu repository the reasoning you mention. Can you make a citation with this reasoning?

[2018-04-12 07:47] SISheogorath commented on #101
Have a look at the "Why?" Section of the gosu readme. It refers to a dockerfile for testing purposes. These are all kinds of edge cases that cause problems with `sudo`.

For a detailed description of what complicated behavior `sudo` implies I recommend to read the sudo man-page and their detailed description about signal handling and process model.

On 12 April 2018 09:26:05 GMT+02:00, VonUniGE <n

[2018-04-14 20:40] VonUniGE commented on #101
Thank you for your answer.

I understand that sudo is too heavy and complicated if the only goal is to drop privileges from root to a user. But if we want to test an application in different dockerized linux distributions, I think that sudo can still be useful.

I would like that dockerfilelint gives a more detailed explanation here, in order to let the user make an informed choice and not just fo

[2018-07-27 00:13] #88 closed

[2018-09-23 16:51] AmauryOrtega commented on #100
@AuthorProxy This warning appears because you don't specify the tag on the `FROM` statements.
An example for a multistage build that doesn't show those warnings:

[code]

In this case, the warning that appears are:

- Line 8: First Command Must Be FROM (Possible Bug)
- Line 15: First Command Must Be FROM (Possible Bug)

This is expected since there is no multistage support.

[2018-10-07 16:37] pryorda opened #103 "is this package still maintained?"

[2018-10-30 10:12] AngeloBadellino opened #104 "Wrong Message"
If I try to lint this Dockerfile that starts with the followinf two layer declaratio:

[code]

I get a suggestion that the first line should be a FROM. And actually it is.

[2018-11-27 04:03] mcandre commented on #91
Please have dockerfilelint do the recursive globbing itself when scanning for Dockerfile's. Glob notation is difficult to get right, and many shells (e.g. Windows Command Prompt) do not glob on behalf of command line applications.

[2018-12-16 03:04] jayvdb commented on #95
c.f. https://github.com/pypa/pip/issues/4685

at the moment, the best way to achieve this is to require use of `--no-cache-dir`, but that isnt as neat if multiple pip commands are needed, as subsequent commands wont have a cache to re-use

[2018-12-25 09:48] vladkras commented on #104
this issue duplicates https://github.com/replicatedhq/dockerfilelint/issues/100

Multistage build is still not supported while fix is already merged https://github.com/replicatedhq/dockerfilelint/pull/84

[2019-01-03 23:32] #90 closed

[2019-02-04 12:08] fhemberger commented on #103
@fshot @deiga Could you please update the package on npm?

[2019-02-04 13:17] nexdrew commented on #103
@fhemberger I think the maintainers/Replicated team mainly uses the [Docker image](https://hub.docker.com/r/replicated/dockerfilelint) for this repo, which is automatically updated when things are merged/pushed to master.

For the Node purists like me 😉 I published version 1.5.0 to npm. Let me know if that helps.

[2019-02-04 14:13] fhemberger commented on #103
Thanks!

[2019-02-04 14:52] fhemberger opened #110 "RUN: All chained commands should be parsed"
[code]

=> "Consider `--no-cache` or `--update` with `rm -rf /var/cache/apk/*` (Optimization)"

The parser should detect the `rm -rf …` in the third line.

[code]

=> No error message.

[2019-02-27 21:32] mipearson opened #111 "Feature request: VSCode editor integration"
Hopefully some keen person sees this, because this would be very nice to have running in VSCode (rather than installing / running at https://www.fromlatest.io)

[2019-03-05 17:16] roadSurfer opened #113 "Doesn't detect use of 'latest' or missing tag"
The following `FROM` definitions should all trigger a message:
[code]
The presence of the port number for the registry and the use of `as` seems to cause the parser to not catch the missing tag or use of `latest`.

[2019-03-12 13:21] dserodio commented on #71
I added a MAINTAINER line to the www.fromlatest.io example and it didn't complain

[2019-04-02 10:37] DanSnow commented on #111
Thanks @mipearson for your `dockerfilelint`. I just write a extension to lint Dockerfile with this project. This is my first vscode extension, so I'll appreciate if someone can give me any feedback.

https://github.com/DanSnow/vscode-dockerfilelint

Also I'm still working on the document. So I'm not ready for publishing this yet.

[2019-04-05 06:34] vipinvkmenon commented on #74
Came for the same Issue. Great tool btw!

[2019-04-05 07:30] alexellis commented on #74
Haha, nothing quite like getting a response 18 months after commenting. Better late than never :+1:

[2019-04-26 15:13] chrisbs73 opened #115 "YError: Invalid first argument. Expected boolean or string but received function."
I'm seeing this with the latest version of dockerfilelint.   Running it from the command line or from a container.   If I pull a container that's 4 months old I don't see this issue.

./bin/dockerfilelint /Users/cschlit/docker/java/Dockerfile.generated
YError: Invalid first argument. Expected boolean or string but received function.
    at argumentTypeError (/Users/cschlit/temp/dockerfilelint/node

[2019-06-11 12:22] pauljherring commented on #115
Just checked this out today - same error, different line numbers:

[code]

[code]

[2019-06-14 10:14] nabadger commented on #115
Yep, same error.

[2019-06-20 06:48] sethbergman opened #118 "Blog post links to 404"
The `--no-install-recommends` flag info card links to [a 404 page](https://blog.replicated.com/2016/02/05/refactoring-a-dockerfile-for-image-size/).
![Screenshot_20190620-013741](https://user-images.githubusercontent.com/8031689/59827070-5875b100-92fd-11e9-92c0-66e488275ec0.png)

[2019-07-21 23:31] NickLarsenNZ opened #123 "Can the tags on dockerhub include the semver, and not just the short git hash"
![image](https://user-images.githubusercontent.com/10092581/61598576-2ea10880-ac74-11e9-9156-71f668284d16.png)

[2019-08-02 05:08] ScottBrenner commented on #115
`09a5034` is the most recent tag that works!

[2019-09-05 16:43] darkvertex commented on #100
Found this issue after discovering there's no multistage support.

For anyone that needs such a thing, consider the alternative linter [hadolint](https://github.com/hadolint/hadolint).

[2019-09-06 11:51] AmauryOrtega commented on #100
@darkvertex Thanks!. The multistage [Dockerfile](https://github.com/replicatedhq/dockerfilelint/issues/100#issuecomment-423830346) I used as an example before shows no warnings on the online version of [hadolink](https://hadolint.github.io/hadolint/).

[2019-10-03 11:54] boly38 commented on #28
@marccampbell could you give a look at #117 and provide a new fresh release ? :)

[2019-10-11 08:56] hansbogert opened #135 "`fromlatest.io` still errors on having `ARG` before `FROM`"
Currently, the linter gives warning of 'First Command Must Be FROM (Possible Bug)'. However, I think there is at least one exception:

In order to have access to build arguments in multiple stages, said build arguments should be declared in the outer scope of the Dockerfile, **before any `FROM` directives**

[2019-11-05 23:39] ain commented on #115
`replicated/dockerfilelint:09a5034` is not working for me. Same failure.

[2019-11-13 08:21] deiga commented on #135
@hansbogert This should already be working, see https://github.com/replicatedhq/dockerfilelint/pull/105

[2019-11-13 09:45] hansbogert commented on #135
strange, the online variant [variant](https://www.fromlatest.io/#/)  still shows this behaviour

[2019-11-13 10:01] deiga commented on #135
My hunch would be, that the online variant is not using the newest version. It doesn't have the version listed anywhere, so hard to check

[2019-11-13 10:09] deiga commented on #135
Could you reword the title to reflect that the issue is with the online variant? :)

[2019-12-10 11:31] alexellis commented on #98
How about now?

[2020-01-01 14:22] ArtificialTruth opened #137 "Empty continuation lines will become errors in a future release"
Hi,

Very cool tool. An improvement: Check for empty continuation lines, since they will become errors in a future release of docker.

[2020-01-13 14:33] #113 closed

[2020-01-13 14:34] #103 closed

[2020-01-13 14:34] marccampbell commented on #123
This makes sense, we will update

[2020-02-19 12:31] EvgenyOrekhov commented on #92
I don't care anymore.

[2020-02-19 12:31] #92 closed

[2020-05-22 12:55] francescobianco opened #142 "line to long issue, could be catched and invalid character in tag name"
Look this picture, I think is good to have suggested refactoring for long "apt install command" and suggest how to arrange it in multiple lines.
Another strange behaviour is try to suggest wrong chars into TAG (eg. $, £, %, etc...)
![Screenshot from 2020-05-22 14-51-40](https://user-images.githubusercontent.com/472171/82669747-46527000-9c3c-11ea-8ccd-7eac7bb236b6.png)

[2020-06-18 22:03] mildebrandt commented on #98
I think this was fixed too well. It does warn on both `latest` tags in the `FROM` statements....but it doesn't like the reference to a previous stage.

I changed the Dockerfile to this:
[code]

And I get the following messages:
[code]

I would not expect the `Line 7: FROM builder` message since it's referencing a previous stage.

[2020-06-19 17:14] onlinejudge95 opened #144 "Erroneous rule for FROM statement"
For a multistage build, the `dockerfilelint` reports the following error
[code]

Here is the `Dockerfile` I used

https://github.com/onlinejudge95/rinnegan/blob/master/services/server/Dockerfile

[2020-06-20 06:40] iggy opened #145 "FROM scratch is a special case and shouldn't cause an error"
`FROM scratch` is a special case in docker. It doesn't have any tags and in the build tooling it's a special case to not use an underlying image layer. This tool shouldn't error on a `FROM` line with scratch.

[2020-06-20 06:47] iggy opened #146 "FROM errors with --platform arg"
When using the --platform arg to the FROM directive in a Dockerfile, `dockerfilelint` errors saying it should specify a tag.

i.e.

[code]

I tested just taking out the `--platform=$BUILDPLATFORM` part and it doesn't error any more.

Let me know if you need any more info.

ref:
https://docs.docker.com/engine/reference/builder/#from

[2020-06-22 20:01] svl7 commented on #137
@ArtificialTruth I added a pull request that includes this:
https://github.com/replicatedhq/dockerfilelint/pull/147

[2020-06-24 00:00] acdha opened #148 "dockerfilelint should not recommend against installing security updates by default"
I have to disable `apt-get-upgrade` and `apt-get-dist-upgrade` on every project because those steps are mandatory for installing security updates. The referenced blog post is now gone but the reasoning was always highly suspect for anyone who cares about security since it basically says “don't patch your systems, just get used to ignoring all of those CVEs until you can get an upstream update ship

[2020-06-25 20:13] ArtificialTruth commented on #137
Super cool, thank you!

[2020-06-25 20:13] #137 closed

[2020-06-29 08:15] SimonHeimberg commented on #100
There are two online checkers using this tool:
 * https://www.fromlatest.io/#/ , the original one, which is outdated
 * http://www.dockerfilelint.com/#/ , which uses a newer version of this tool. It supports multistage dockerfiles

But the real problem:
Both ask for a tag for line 15 (`FROM base AS dependencies`), which does not make sense (at least probably) because base is defined in the dockerf

[2020-06-29 08:19] SimonHeimberg commented on #144
On what version did you find this?
  * https://www.fromlatest.io/#/ , the original online one, which is outdated (I can not see the version)
  * http://www.dockerfilelint.com/#/ , which uses a newer version of this tool (1.4.0). It supports multistage dockerfiles
  * local version xxx

[2020-06-29 13:04] AmauryOrtega commented on #100
@SimonHeimberg I checked the Dockerfile posted by @AuthorProxy and the one I posted as an example in http://www.dockerfilelint.com and noticed that the line `FROM base AS dependencies` gives a warning because of the `FROM <any_image>:<tag>` is correctly using the image `base` but it doesn't have a tag associated to it.

`dockerfilelint` must be thinking that `base` is a published image and using t

[2020-06-30 08:41] onlinejudge95 commented on #144
In https://www.fromlatest.io/

Thanks for clarifying it is outdated, can you update the current repo's ABout section with the same

[2020-07-01 07:08] svl7 commented on #148
According to the Readme you can disable the rules via a config file, if you're bothered by the linter output.

There's a valid reason why it might not be desirable to use apt upgrade etc. By using those you won't know the exact version that gets installed, i.e. you have no version pinning. Therefore you can't get reproducible builds.

In the end, it will depend on what you're trying to achieve, I

[2020-07-01 10:34] acdha commented on #148
Defaults shift behavior, especially for people who aren’t experts. I’d tend to think that it’d be better not to discourage installing security updates by default and letting the much smaller community of people trying for reproducible builds worry about that along with all of the other details they’re going to need to deal with.

[2020-07-01 11:25] svl7 commented on #148
The problem is also that you can't always upgrade some of the packages inside an unprivileged container.
The Docker documentation about best practices provides some insights, see here: https://docs.docker.com/develop/develop-images/dockerfile_best-practices/#run
Essentially, the recommendation is to use `apt-get install -y foo` to update automatically. The maintainers of dockerfilelint seem to adh

[2020-07-06 23:25] Aylr commented on #100
@AmauryOrtega Thanks for this nice summary. I can confirm your findings.

[2020-07-31 02:27] asears commented on #135
This still seems to be happening in <https://www.fromlatest.io/#/>

ARG is valid syntax before FROM as of https://github.com/moby/moby/pull/31352

[2020-08-11 04:21] #115 closed

[2020-08-12 03:31] #28 closed

[2020-08-12 04:10] #118 closed

[2020-08-12 04:13] marccampbell opened #152 "Create a GitHub action to lint Dockerfiles on commit"

[2020-08-12 04:14] marccampbell opened #153 "Set up GitHub Actions as a CI"
Release on tag (fixing #123)

[2020-08-12 04:22] #98 closed

[2020-08-12 04:22] #100 closed

[2020-08-12 04:25] marccampbell commented on #145
@iggy thanks for the report. I’ve added an integration test and am not able to reproduce this. Are you able to provide a Dockerfile that has this error?

[2020-08-12 04:31] iggy commented on #145
I'm using dockerfilelint as part of GitHub's super-linter. Here is a link to it failing as part of that:

https://github.com/iggy/scurvy/runs/940683789?check_suite_focus=true#step:4:194

The line it's referencing:

https://github.com/iggy/scurvy/blob/master/Dockerfile#L74

[2020-08-12 04:35] marccampbell commented on #104
We’ve shipped support for multistage builds and this cannot be reproduced now!

[2020-08-12 04:35] #104 closed

[2020-08-12 05:12] marccampbell commented on #145
Thanks @iggy

I added PR #154 which does address and make these pass. I’ll get it reviewed in tomorrow and a new version released.

[2020-08-12 15:04] #146 closed

[2020-08-12 15:04] marccampbell commented on #146
Fixed with #154

[2020-08-20 03:37] AmauryOrtega opened #155 "Help understanding comment issues at line 1 in Dockerfile"
I'm using the latest docker image `replicated/dockerfilelint:latest` to test my Dockerfile and I'm getting this output (First try). I do not understand which comment is raising this issue. I thought it was the comments on line 3 and 4 so I removed then and tried again but no luck (Second try).

Can someone explain to me what is happening here?

## First try

### Dockerfile

[code]

### Output

[co

[2020-08-26 14:50] AmauryOrtega opened #156 "TypeError: Cannot read property 'reduce' of null"
When using this Dockerfile with the latest dockerfilelint docker image, an internal error shows up. I checked using `/bin/sh` to make sure the Dockerfile is accessible, I tried moving the Dockerfile to the working directory of `/dockerfilelint/` and using the binary inside `/dockerfilelint/bin/` but I got the same error message.

## Dockerfile

[code]

## Command

[code]

## Output

[code]

[2020-09-30 11:37] SimonHeimberg commented on #144
https://www.fromlatest.io/ seems to have updated the version. At least it does not report this failure any more. So I currently have no idea which online checker is newer.

[2020-09-30 11:44] SimonHeimberg opened #159 "show version on www.fromlatest.io"
In the readme file, https://www.fromlatest.io/#/ is suggested as the online checker. This online checker does not show what version of the checker it is running. This makes bug reports unclear (like #144, #135).

So please show the linter version on https://www.fromlatest.io/#/

same issue: https://github.com/replicatedhq/fromlatest.io/issues/263

[2020-09-30 11:53] SimonHeimberg commented on #135
The online version seems to be updated. At least the following examples works. Can we close this issue?

[code]

[2020-09-30 12:18] hansbogert commented on #135
@SimonHeimberg seems to work correctly indeed.

[2020-09-30 12:18] #135 closed

[2020-10-04 16:25] elchenberg opened #160 "Add an option to report errors only in cli output"
As a user I'd like to suppress the output for files that have no issues:

[code]

Currently errors and non-errors are printed to `stdout`. If errors were printed to `stderr` instead, the non-error output could be redirected to `/dev/null`.

Or there could be a cli argument – eg. `-q, --quiet Report issues only` – to achieve the same result.

I'm willing to implement this myself if you approve of t

[2020-10-12 21:55] a16bitsysop commented on #156
I think I am getting the same error, have you tried deleting healthcheck and see if error stops

[2020-10-13 12:41] AmauryOrtega commented on #156
@a16bitsysop To give more details, when I originally created this issue, the latest docker image I was using had this image ID `ea3ff6887d47`.

Using the same image ID and the same Dockerfile without the healthcheck produces this output:

[code]

I see that there is a new latest docker image with image ID `24b7b3aae3ac`. I've tried both scenarios (with and without healthcheck) but the behavior is

[2020-10-13 15:37] a16bitsysop commented on #156
@AmauryOrtega I am not a developer, I am a user as well.  I am trying to find out what is causing it also.

[2020-10-14 18:16] a16bitsysop commented on #156
@AmauryOrtega if you add an option like:
`HEALTHCHECK --start-period=60s CMD curl -f http://localhost/ || exit 1`
It should work, it has to have an option before the command and has to end in ` || exit 1`

[2020-10-17 15:56] HANZSOLO-CU commented on #156
Tq

[2020-12-07 06:20] AirBashX opened #163 "I want to use "apt update""
Why not use apt instead of apt-get

[2020-12-07 08:42] #163 closed, assigned to nobody

[2021-01-03 16:35] srcshelton commented on #86
The current output is:

[code]

... which is fine so far as it goes, but there should be a way to hide this warning with a `linter ignore=` directive.

[2021-01-03 16:40] srcshelton opened #165 "Escaped quotes cause TypeError"
A `RUN` directive including the following (entirely legitimate, AFAIK) command invocation:

[code]

... generates the following output:

[code]

[2021-01-04 15:22] jokay opened #166 "Invalid Argument for HEALTHCHECK"
When using this HEALTHCHECK in a Dockerfile:

[code]

I get this linting error from [super-linter](https://github.com/github/super-linter) / dockerfilelint **1.8.0**:

[code]

Any idea on how to fix this?

[2021-01-04 15:36] jokay commented on #166
Related issue [#28](https://github.com/replicatedhq/dockerfilelint/issues/28) & pull request [#117](https://github.com/replicatedhq/dockerfilelint/pull/117).

[2021-01-06 14:06] jokay commented on #166
@egoexpress any idea? :wink:

[2021-01-14 08:48] jokay commented on #166
When removing the option `--start-period=15s` from the Dockerfile, there won't be any linting error anymore.

[2021-01-14 13:37] egoexpress commented on #166
Mmmh, ok, seems to be a bug. I'll have a look into it. '--start-period' is a valid option for HEALTHCHECK and is already included in the linting function, so it *should* work.

[2021-01-17 00:35] egoexpress commented on #166
Found the issue. The regular expression checking the option names doesn't count for the dash in the '--start-period' option. PR #167 fixes this.

[2021-01-17 08:58] jokay commented on #166
Thx for the fix.

[2021-02-18 22:04] JonZeolla opened #169 "Please create a release"
Please cut a release; there are some commits in master that missed the last release, in particular 50145934530df5cdd6c7c28d61dab65c46b1cba2

[2021-02-23 23:01] ngraef commented on #169
Also requested in https://github.com/replicatedhq/dockerfilelint/pull/154#issuecomment-729961410 and https://github.com/replicatedhq/dockerfilelint/pull/151#issuecomment-777889046.

@marccampbell Would you mind weighing in here? There are a couple great fixes waiting to be released to npm.

[2021-03-27 18:15] netsandbox commented on #148
@svl7 the above mentioned part of the Docker documentation was recently removed: https://github.com/docker/docker.github.io/pull/12571

[2021-04-10 04:37] amthorn opened #173 "Add Support for Custom Rulesets"
Custom rulesets is a standard with many linters and provides flexibility for users to create their own linting rules that may apply only to their company or project.

[code]

This would give me the flexibility to provide my own rulesets, which i am currently having to fork and fix for a project i'm working on. I submitted a PR for this here: https://github.com/replicatedhq/dockerfilelint/pull/172

[2021-04-10 04:41] amthorn opened #174 "Ability to supply "Severity" levels for rules"
Running in CI pipelines typically uses the exit code to determine if a step has failed. In some cases, some rules from dockerfilelint may be permissable by some projects. Thus, dockerfilelint should expose in it's RC file the ability to specify a severity level (Similar to eslint perhaps) instead of just a boolean "on/off". This way, variations of rules can be configured for individual use cases.

[2021-05-01 11:19] jokay opened #175 "Repo still actively maintained?"
@marccampbell is this repo still actively maintained or do we need to start searching for alternatives?

[2021-05-05 14:34] marccampbell commented on #175
@jokay yes! it is.  We've been a little slow in getting releases out, but we use this and are working on it.

We will be looking to bring in additional maintainers to help keep the release cadence up where it needs to be.

[2021-05-05 14:36] marccampbell commented on #169
Will get a release out!

Also, we are looking to bring in additional maintainers for this repo. Any interest in helping out here?

[2021-05-05 15:05] jokay commented on #175
@marccampbell ok, good to know, will close this issue then :wink:

[2021-05-05 15:05] #175 closed, assigned to nobody

[2021-06-01 04:16] bcdady opened #180 ""Label Is Invalid" when period in label key"
[code]

[2021-06-23 05:56] VirtualTim opened #181 "Add support for yum commands"
It looks like there are a number of really useful tests for `apt-get` commands, but currently no support the the equivalent `yum` commands.
This would obviously be really useful for anyone using a CentOS/Redhat based image.

At a minimum I'd suggest:
- `yum install` must have a `-y`
- `yum install` shoudl always have a `yum clean all`, `rm -rf /var/cache/yum` and `rm -f /anaconda-post.log` in teh

[2021-07-15 19:40] bcdady opened #182 "Dead link for no-install-recommends"
**Issue**
Optimization  rule for `--no-install-recommends` provides a "For more information" link which does not take the viewer to valid web page.

**User Experience**
"[this blog post](http://blog.replicated.com/2016/02/05/refactoring-a-dockerfile-for-image-size/)" results in the browser displaying:

**Suggested Resolution**
A bing search suggests this link should be updated to use this URL: htt

[2021-07-22 09:55] Hades32 opened #183 "Multi-Stage builds incorrectly expect a version label"
E.g.
[code]
Complains about `base` not having a label

[2021-07-29 08:52] lvjp commented on #156
I made a simple fix to this null pointer...

[2021-07-29 08:53] lvjp commented on #166
I missed up with issue number... It was #156....

[2021-07-30 14:54] AmauryOrtega commented on #156
Thanks @lvjp :tada:

@marccampbell Is the fix acceptable?

[2021-08-23 08:51] llaville opened #185 "[v1.8.0] Rules ignored"
Hello,

I've Dockerfiles using multistage syntax with FROM inheritance explained [here](https://www.docker.com/blog/advanced-dockerfiles-faster-builds-and-smaller-images-using-buildkit-and-multistage-builds/)

When I run following command `dockerfilelint Dockerfiles/mods/Dockerfile` from root of [my project](https://github.com/llaville/docker-php-toolbox) I got these errors

[code]

As I consider

[2021-08-23 09:07] llaville commented on #185
sorry to disturb, I've realized that `-c|--config` option is only the path to config file excluding base name `.dockerfilelintrc`
[code]

It works with command `dockerfilelint Dockerfiles/mods/Dockerfile --config .`

[code]

[2021-08-23 09:07] #185 closed, assigned to nobody

[2021-08-24 06:25] llaville opened #186 "Configuration file path enhancement"
Hello,

Current configuration file path behavior introduced in v1.1.2 (see https://github.com/replicatedhq/dockerfilelint/commit/b09bff92917adb77470605cd89bb43cc6627f8dd) only allow a directory for `-c|--config` option.

Is it possible to think to allow a full path name rather than just a folder.

i.e:  `dockerfilelint -c /path/to/my_config_rc_file Dockerfile`

Rather than : `dockerfilelint -c /pa

[2021-09-24 05:26] llaville commented on #186
As nobody seems interrested by this feature request, I will close it !

[2021-09-24 05:26] #186 closed, assigned to nobody

[2021-10-06 10:35] iskandersierra opened #187 "Missing tag rule should not apply to local multistage Dockerfiles"
Using project mega-linter, I get the following error:
[code]

on the following Dockerfile:

[code]

This makes me disable the rule missing_tag, which I want enabled for the first two stages, in order to pass the test.

Is this behaviour intended or is it possible to check whether there is a previous stage with the name being checked and skip that validation?

Thanks for the good work. If you accep

[2021-11-14 11:31] dejwsz opened #188 "Invalid Port Exposed error"
I had such error " Invalid Port Exposed (Possible Bug)" with that part in my Dockerfile:

ARG PORT=5000
ENV PORT $PORT
EXPOSE $PORT

Is that a wrong approach? The idea behind is to have an option to steer the exposed port value during a build time.

[2021-12-01 19:31] sbollap1 commented on #187
I had similar issue, here the link to it. [https://github.com/megalinter/megalinter/issues/1053](https://github.com/megalinter/megalinter/issues/1053) curious if you have a workaround

[2022-01-04 10:42] tymonx commented on #187
I have the same issue here for local multi stages. It would be nice to have a general option to disable any rule(s) using comment `#dockerfilelint disable=missing_tag`.

[2022-01-31 08:37] jerguslejko commented on #169
anything I can help with to get this release out?

[2022-02-26 10:17] elpddev opened #192 "Active status & maintainers ?"
Hi, great library. Thank you for the hard work.

Its seems there is not much activity in the last year. It would be helpful I think to know:

1. Is this still in active development
2. Is there a road map to achieve if so
3. Do you need maintainers
4. If you do, what is the process of being a maintainer, and do you have time to support maintainers on board

[2022-03-07 11:15] ankitbko commented on #187
Any update on this?

[2022-03-08 18:53] JonZeolla commented on #169
@marccampbell I would be willing to help with a release, and it seems that @jerguslejko in [here](https://github.com/replicatedhq/dockerfilelint/issues/169#issuecomment-1025495501) and @elpddev from #192 is offering as well.  Let us know how we can help!  Thanks.

[2022-03-30 13:47] cynicaljoy opened #193 "Feature Request: Add Rule for EOF return"
This is a nitpicky thing and mostly inspired by not wanting to see the 🚫 within PRs on GitHub. It would be great to have a check to make sure that there is a single (multiple returns would fail the check) return at the end of files.

It should have a rule associated with it so that people who aren't annoyed by the icon can skip the check 😂

[2022-05-05 18:26] jamescanady commented on #187
I just ran into the same issue.

[2022-06-22 14:30] bdovaz commented on #169
@marccampbell ping

It's been almost 2 years since the last release, we need fixes like #5014593.

Thanks for the work.

[2022-07-25 14:18] howiezhao commented on #169
Maybe it's time for us to migrate to [hadolint](https://github.com/hadolint/hadolint), looks like [Super-Linter](https://github.com/github/super-linter) has also done a [corresponding migration](https://github.com/github/super-linter/issues/2179).

[2022-07-25 14:19] howiezhao commented on #192
Maybe it's time for us to migrate to [hadolint](https://github.com/hadolint/hadolint), looks like [Super-Linter](https://github.com/super-linter/super-linter) has also done a [corresponding migration](https://github.com/super-linter/super-linter/issues/2179).

[2022-11-23 08:00] johbo commented on #187
Just did bump into the same issue, is there really no way to add an ignore statement like the one suggested above? This would help to "workaround" the problem until it will eventually be supported.

Currently I end up disabling the linter for a whole file, and that's sad because we loose valuable feedback from it.